<!--<form accept-charset="UTF-8" action="/users" method="post">-->
  
<!--  <input type="hidden" name="authenticity_token" value=" form_authenticity_token ">-->
  
<!--  <label for="username">Username</label>-->
<!--  <input type="text" name="user[username]"><br>-->
  
<!--  <label for="email">Email</label>-->
<!--  <input type="email" name="user[email]"><br>-->
  
<!--  <label for="password">Password</label>-->
<!--  <input type="password" name="user[password]"><br>-->
  
<!--  <input type="submit" value="Submit">-->
<!--</form>-->

<% if false %>
<%= form_tag("/users", method: "post") do %>
  
  <%=label_tag(:username, "User Name") %>
  <%=text_field_tag(:username) %>
  
  <%=label_tag(:email, "Your Email") %>
  <%=text_field_tag(:email) %> 
  
  <%=label_tag(:password, "Your Password") %>
  <%=text_field_tag(:password) %>
  
  <%= submit_tag("Submit")%>
<%end%>
<%end%>

<%= form_for @user do |f| %>
  <%=f.label :username, "Your name" %>
  <%=f.text_field :username, placeholder: "mike nels" %>
  
  <%=f.label :email, "Your email" %>
  <%=f.text_field :email, value: "mwn2102@gmail.com" %>

  <%=f.label :password %>
  <%=f.text_field :password %>

  <%= f.submit %>
  
<%end%>

